@media(max-width:1023px) and (min-width: 768px) {

    .game__item {
        grid-column: span 2;
    }

    .center {
        padding-left: 32px;
        padding-right: 32px;
    }

    .header__info {
        width: auto;
    }

    .about {

        display: none;
    }

    .game {
        display: flex;
        flex-wrap: wrap;
        // grid-template-columns: repeat(8, 1fr);
        // grid-template-rows: auto;
        gap: 16px;

        &-content5 {
            margin-top: 0px;
        }

        &__item {


            &_small {
                height: auto;
            }

            &_big {
                height: auto;
            }

            &_bigger {
                height: auto;
            }
        }
    }

    .mini {
        padding-bottom: 10px;
        padding-top: 48px;

        &-header {
            font-family: Montserrat;
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0px;
            text-align: left;
            padding-top: 0px;
            padding-bottom: 12px;
        }

        &-content {
            padding: 30px;
        }

        &-head {
            color: rgb(32, 32, 39);
            font-family: Montserrat;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
        }

        &-about {
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin-top: 16px;
        }

        &-button {
            margin-top: 32px;
            width: auto;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
            letter-spacing: 0%;
            text-align: center;
        }

        &__box {
            flex-direction: column-reverse;
            height: auto;
            margin-top: 24px;

            &-left {
                flex-direction: column-reverse;
                height: auto;
                margin-top: 24px;
            }

            &-mob {
                flex-direction: column;
            }
        }


    }
}