@media(max-width:1023px) {
    .game__item {
        grid-column: span 2;
    }

    .center {
        padding-left: 32px;
        padding-right: 32px;
    }

    .header__info {
        width: auto;
    }

    .about {
        height: auto;
    }

    .game {

        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
        gap: 16px;

        &-content5 {
            margin-top: 0px;
        }

        &__item {


            &_small {
                height: auto;
            }

            &_big {
                height: auto;
            }

            &_bigger {
                height: auto;
            }
        }
    }
}