* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #E1FF8F;
    height: 800px;

    &-text {
        font-size: 64px;
        line-height: 78px;
        font-weight: 700;
    }

    &-info {
        padding-top: 24px;
        font-weight: 400;
        line-height: 32px;
        font-size: 24px;
        text-align: left;
    }

    &-content {
        padding-top: 196px;
        padding-left: 120px;
        width: 768px;
        height: 358px;
    }

    &-link {
        font-weight: 600;
        color: #000;
        text-decoration: none;
    }

    &-button {
        box-sizing: border-box;
        border-radius: 60px;
        margin-top: 48px;
        font-size: 24px;
        font-weight: 600;
        width: 247px;
        height: 66px;
        text-align: center;
        background-color: #202027;
        color: #ffffff;
    }

    &-image {
        position: absolute;
        left: 63px;
        top: 94px;
    }

    &-image2 {
        position: absolute;
        top: 69px;
        left: 156px;
    }
    &-image3{
        position: absolute;
        top: 538px;
        left: 948px;
    }
    &-image4{
        position: absolute;
        top: 568px;
        left: 1013px;
    }

}